/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 2

   The Spice Bowl Payment Form Style Sheet
   Author: cedric L Mulumba
      Date: 12/2/15  


   Filename:         payment.css
   Supporting Files: go.png, stop.png

*/

/* 
step 20
*/ 

   
         fieldset {
      
              border: 0px;
              margin: 5px;
}


          legend {

     
              background-color: rgb(239, 198, 145);
              color: black;
              top-margin: 10px;
              bottom-margin: 10px;
              text-indent: 20px;
              width: 100%;
              border-radius:10px;
}
    
/*
step 21
*/

          label {

              display: block;
              float: left;
              clear: left;
              font-size: 0.8em;
              text-align: right;
              margin-top:2px;
              margin-bottom:2px;
              margin-left:5px;
              margin-right:5px;
              width: 25%;

}


/*
step 22
*/

          input {

              display: block;
              float: left;
              font-size: 0.9em;
              width: 60%;
              margin-top:2px;
              margin-bottom:2px;
              margin-left: 0px;
              margin-right:0px;
              
            
}

/*
step 23
*/
 
           select {

              display: block;
              float: left;
              font-size: 0.9em;
              margin: 2px;

}

/*
step 24
*/

           textarea{

               display: block;
               float: left;
               font-size: 0.9em;
               height: 75px;
               width: 60%;
}


/*
step 25
*/

            fieldset.optionGroup {

               left-margin: 25%;
}
               fieldset.optionGroup label {

         display: inline;
         float: none;
         width: 100px;
}

/*
step 26
*/

      fieldset.optionGroup input {

         display: inline;
         float: none;
         margin: 0px 0px 0px 0px;
         width: 20px;
}

/*
step 27
*/

        #csc {

          width: 50px;
}

/*
step 28
*/
        input[type="submit"] {
 background-color: rgb(239, 198, 145);
 
 -moz-border-radius: 15px;
 -webkit-border-radius: 15px;
 border-radius: 15px;
 
 float: none;
 height: 30px;
 width: 150px;
 margin: 10px auto;
 
 
  
 }

/*
step 29
*/
          
       input:focus, select:focus, textarea:focus {

          background-color: rgb(255, 218, 165);
}

  
/*
step 30
*/  
          input:focus:valid {

          background: rgb(215, 255, 215) url(go.png) bottom right no-repeat;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
}

/*
step 31
*/

       input:focus:invalid {

         

          background: rgb(255, 245, 215) url(stop.png) bottom right no-repeat;
          -o-background-size: contain;
          -moz-background-size: contain;
          -webkit-background-size: contain;
          background-size: contain;
}



     
          